
header{
    background-color: blueviolet;
    height: 60px;
    border-bottom: none;
}
header nav{
    color: black;
}
header nav ul{
    margin: 3px;
    padding: 2px;
}
header nav ul div{
    display: inline-flex;
    margin-left: 20px;
}
header nav ul div img{
    height: 50px;
    width: 80px;
}
header nav ul div p{
    margin-left: 20px;
}
header nav ul div div li{
    margin-top: 15px;
    font-size: 15px;
    position: relative;
    left: 34rem;
    list-style-type: none;
    
}
header nav ul div li a{
    color: black;
    text-decoration: none;
    margin: 30px;
}
main{
    
}
main section{
    height: 400px;
    margin: 5px;
    border-bottom: none;
}
main section .container{
    background-color: rgb(194, 149, 145);
    background-image: url('https://images.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -25px;
    margin-left: -5px;
    margin-right: -5px;
    text-align: center;
}
main section .container h3:hover{
    text-transform: capitalize;
}
main section .container p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main section .container h3{
    text-transform: capitalize;
}
main section .container button{
    background-color: rgb(227, 55, 230);
    border-radius: 15px;
    height: 30px;
    margin-top: 2px;
    color: aliceblue;
    text-transform: uppercase;
}
main section .container button a{
    text-decoration: none;
}
main .container .container h4{
    color: black;
    text-align: center;
}
main section .container h4 b{
    color: blueviolet;
    margin: 10px;
    font-weight: 900;
}
main section .container ul{
    margin: 20px;
}
main section .container ul li{
    display: inline-flex;
    margin: 20px;
}
main section .container ul li div{
    font-size: 13px;
    margin: 1px;
}
main section .container ul li img{
    height: 100px;
    width: 80px;
    padding: 2px;
    border-radius: 50%;
}
main section .container ul li div p{
    margin-top: 2px;
}
main .session {
    background-color: blueviolet;
    display: inline-flex;
    height: 45%;
    width: 100vw;
    margin-left: -3px;
    padding-top: 50px;
    padding-left: 20%;
}
main .session img{
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
}
main .session div {
    margin-left: 40px;
    margin-left: 80px;
}
main .session div h4{
    margin-top: -8px;

}